{% extends 'core/base.html' %}

{% load static %}

{% block titulo %}Blog{% endblock %}

{% block contenido %}
  {% for i in datos_categoria.get_posts.all %} # Se genera con el related_name del Models.Blog
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-innerv text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">{{i.fecha_publicacion|date:"SHORT_DATE_FORMAT"}}</span>
              <span class="section-heading-lower">{{i.titulo}}</span>
            </h2>
            <p class="mb-0">
              <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{i.imagen.url}}" alt="">
            </p>
            <p class="mb-0 mbt">{{i.contenido|linebreaks}}</p>
            <p class="mb-0 mbt">
              <span class="section-heading-under">Publicado por <em><b>{{i.autor}}</b></em> en 
                <em>                  
                {% for j in i.categoria.all %}                
                  <a href="{% url 'categoria' j.id %}" class="link">{{j.nombre}}</a>{% if not forloop.last %},{% endif %} 
                {% endfor %}
                </em>
              </span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock %}


    